/*
=== Reset
=== source: http://muki.tw/tech/reset-share-by-muki/
*/

body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button,textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}
img {border: 0;}
:focus {outline: 0;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
input, button, textarea,select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
code, kbd, samp, tt {font-size: 100%;}
 
/*purpose To enable resizing for IE */
/*branch For IE6-Win, IE7-Win */
input, button, textarea, select {*font-size: 100%;}
body {line-height: 180%;}
ol, ul, li {list-style: none;}
:link, :visited , ins {text-decoration: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
 
/*HTML5 tag*/
section, article, aside, footer, header, nav, main {
	display: block;
}

/*
=== Base
*/

body {
	font-family: arial, sans-serif;
	font-size: 1em;
	line-height: 150%;
}

a {
	color: #000;
}

input {
	border: 0;
	padding: .3em .5em;
	border-radius: 8px;
	font-size: 13px;
}

p {
	margin: 1em 0;
}

/*
=== Layout
*/

.container {
	width: 1024px;
	margin: 0 auto;
}

.bg-grey {
	background: #2a2e31;
	line-height: 40px;
}

.bg-grey a {
	color: lightgrey;
}

.bg-grey a:hover {
	color: grey;
}

.bg-lt-grey {
	background: #404549;
	line-height: 50px;
}

.bg-lt-grey a {
	color: rgb(180 ,180, 180);
}

.bg-grey::after, .bg-lt-grey::after {
	content: "";
	display: block;
	clear: both;
}

.logo a {
	float: left;
	display: inline-block;
	width: 250px;
	height: 49px;
	background: url("http://1.bp.blogspot.com/-hfAEU3o_euM/U_RhZ7pd8DI/AAAAAAAAAxw/y5uGgDWppZo/s1600/trans_logo.png") 0 0 no-repeat;
	overflow: hidden;
	text-indent: 100%;
}

.main {
	width: 600px;
    float: left;
    margin-top: 20px;
}

.sidebar {
	width: 318px;
	float: left;
	margin-left: 1em;
    margin-top: 20px;
}

/*
=== Module
*/

.social-icon {
	float: left;
}

.social-icon li {
	display: inline-block;
}

.sub-menu {
	float: right;
}

.sub-menu li {
	display: inline-block;
}

.menu {
	float: left;
	margin-left: .5em;
}

.menu li {
	display: inline-block;
	margin-right: .5em;
}

.menu li:hover .s-menu {
	display: block;
}

.s-menu {
	background: #404549;
	position: absolute;
	display: none;
	padding: 0 1.5em;
	margin-right: 0;
	line-height: 180%;
}

.s-menu li {
	display: block;
}

.search {
	float: right;
}

/*main*/

/*anchor*/
.anchor{
    overflow: hidden;
    border: 1px solid #ccc;
}

.anchor li {
    float: left;
    font-size: 8pt;
    margin: 5px;
}

.anchor li:nth-child(1)::after{
    content: " »"
}

.anchor li:nth-child(2)::after{
    content: " ,"
}

.anchor li:nth-child(3)::after{
    content: " ,"
}

.anchor li:nth-child(4)::after{
    content: " »"
}

.anchor a {
    color: lightgreen;
}

/*blog*/


.blog {
    margin-top: 8px;
    border: 1px solid #ccc;
}

.blog-head {
    margin: 16px 12px 4px 12px;
    border-bottom: 1.5px solid #ccc;
    padding-bottom: 6px;
}

.blog-head .title {
   font-size: 16pt;
}

.blog-head .descerpt{
    font-size: 10pt;
    color: grey;
}

.content {
    margin: 12px 12px 4px 12px;
}

.content .word {
    font-size: 12pt;
    line-height: normal;
    margin-bottom: 2em;
}

.article-img {
    margin: 10px auto 20px auto;
    padding: 0 0 0 140px;
}

.quote {
    font-size: 12pt;
    line-height: normal;
    margin-bottom: 2em;
}

.heading {
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
}

.minor-heading {
    font-size: 10pt;
    margin-top: -8px;
}


.order-list {
    margin: 25px 0 25px 60px;
}

.order-list li {
    list-style: decimal;
    line-height: 20px;
}

.unorder-list {
    margin: 0 0 10px 10px;
}

.unorder-list li {
    list-style: disc;
    line-height: normal;
}

.share-button {
    overflow: hidden;
    padding: 0 120px;
}

.share-button li {
    float: left ;
    margin-left: 8px;
}

/* author */

.author {
    margin-top: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.author img {
    float: left;
    margin: 10px 6px 16px 14px;
}

.about {
    float: left;
    margin: 20px 10px 16px 0px;
    width: 450px
}

.about .name {
    font-size: 12pt;
    font-weight: bold;
}

.about .black {
    color: black;
}

.about .green {
    color: green;
}

.about .descerpt {
    font-size: 8pt;
    line-height: 150%;
}

/* related-posts */

.related-posts {
    margin-top: 24px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.related-posts .content {
    margin: 24px 16px;
}

.thumb-title {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 12px;
}

.thumb-list {
    float: left;
}

.thumb-list .list {
    float: left;
    margin: 10px 10px 18px 10px;
    overflow: hidden;
    font-size: 10pt;
    line-height: 150%;
    width: 120px;
    height: 150px;
}

/* comment */

.comment {
    margin-top: 24px;
    background: #ccc;
    border: 1px solid grey;
    width: 600px;
    height: 360px;
}

.comment-plug {
    display: inline-block;
    margin: 30px;
}

.com-title {
    font-size: 8pt;
    font-weight: bold;
    line-height: 200%;
    margin-bottom: 16px;
}

.com-form {
    background: #fff;
    border: 1px solid grey;
}

.com-form form {
    display: inline-block;
    margin: 16px 24px;
    font-size: 2pt;
}

.comment-as {
    display: block;
}

.comment-as span {
    font-size: 8pt;
    font-weight: bold;
    color: grey;
}


.button li {
    float: left;
    padding: 0.05px 12px;
    margin: 10px 10px -4px 0;
    border: 1px solid #ccc;
    border-radius: 8%;
}

.publish {
    background: lightblue;
}

.publish a {
    color: white;
    font-weight: bold;
}


/* page-navi */

.page-navi {
    width: 600px;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.page-navi li {
    background: grey;
    border: 1px solid black;
    padding: 0 4px;
}

.page-navi li:nth-child(1) {
     float: left;
    width: 80px;
    text-align: center;
}

.page-navi li:nth-child(2) {
     float: left;
    width: 80px;
    text-align: center;
    margin-left: 160px;
}

.page-navi li:nth-child(3) {
     float: right;
    width: 80px;
    text-align: center;
}


.page-navi a {
    color: #fff;
    font-size: 8pt;
    font-weight: bold;
}




/* widget */

.widget {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 5px;
}

.widget-title {
	text-align: center;
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 50px;
	padding: 5px 10px;
	margin: 10px 75px;
}

.widget .item-list {
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

.widget .item-thumb {
	float: left;
	margin-right: 5px;
}

.widget .item-title {
	font-weight: bold;
}

.widget .img-box {
	text-align: center;
}

.ads {
	clear: both;
	text-align: center;
	margin: 1em 0;
}

/* widget-footer */

.footer {
	padding: 1em 0;
}

.widget-footer {
	width: 330px;
	float: left;
	line-height: 130%;
	color: #ccc;
	margin: 1em 1em 1em 0;
}

.widget-footer:nth-child(3) {
	margin-right: 0;
}

.widget-footer .item-group {
	margin-bottom: 1em;
}

.copyright {
	padding: 1em 0;
}

.copyright p {
	margin: 0;
	text-align: center;
	color: #ccc;
	line-height: 130%;
}